#content {
    margin: $global-content-margin;
    width: 90%;
	max-width: $global-body-width;
}

#primary.home {
    width: 73%;
    // float: left;
}

.home-post {
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 400;
    border-bottom: 1px solid #e1e1e1;
}

.home-post h1 {
    font-weight: 400;
}

.home-post-time {
    font-size: 14px;
    color: #aaa;
    margin-top: -1em;
    display: block;
}

.home-post-header {
    margin: 10px 0;
}

.home-post-excerpt {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color:#666;
}

#primary {
    max-width: 850px;
    margin: $global-content-margin;
}

@include max-screen() {
  .site-header-inner, .content {
    width: 90%;
  }
  #secondary {
      display: none;
  }
  #primary.home {
      width: 100%;
  }
}
